
<!{% extends 'index.html' %}
{% block title %}Home{% endblock %}
{% block body %}

			<!--== Site Description ==-->
			<div class="header-cta">
				<style>
				body {
  background-image: url('static/images/demo/bg-slide-01.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}
</style>
				<div class="container">
					<div class="row">
						<div class="entry-content">

				            <h4 class="entry-title"><a href="#">Organizing World class events</a></h4>

					    </div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
<!--					<ul class="b">-->
<!--&lt;!&ndash;						<li><img src="static/images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>&ndash;&gt;-->
<!--&lt;!&ndash;						<li><img src="static/images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>&ndash;&gt;-->
<!--					</ul>-->

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">


<!--				===============================-->
<!--				== About us ===================-->
<!--				===============================-->



<!--==========-->
				<!--===============================-->
				<!--== Movies =============-->
				<!--===============================-->

				<section id="team" class="team">
					<div class="container">
				<div class="title-start team-menu col-md-4 col-md-offset-4">
					<br>
					<br>
					<h2 class="team-heading">Movies</h2>
					<p class="sub-text text-center">Available Movies</p>
				</div>
				</div>
					<div class="team-member row">
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" src="static/images/team1.jpg" width="100%" height="350" alt="Blog Image 2"/>
						<p class="name-member"><a  href="https://in.bookmyshow.com/vijayawada/movies/doctor-g/ET00305720">Doctor G</a></p>
					    <ul class="team-ist">
					     <li><b>Comedy/Drama </b></li>

					     </ul>
					    <div class="team-social">
					    <i class="fa fa-2x fa-tumblr-square"></i>
					    <i class="fa fa-2x fa-facebook"></i>
					    <i class="fa fa-2x fa-twitter"></i>
					    <i class="fa fa-2x fa-linkedin"></i>
					    </div>
					</div>
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" src="static/images/team2.jpg" width="100%" height="350" alt="Blog Image 2"/>
					    <p class="name-member"><a href="https://in.bookmyshow.com/vijayawada/movies/kantara-telugu/ET00342026"><b>Kantara(Telugu)</b></a></p>
					    <ul class="team-ist">
					     <li><b>Adventure/Drama/Thriller</b> </li>

					     </ul>
					    <div class="team-social">
					    <i class="fa fa-2x fa-tumblr-square"></i>
					    <i class="fa fa-2x fa-facebook"></i>
					    <i class="fa fa-2x fa-twitter"></i>
					    <i class="fa fa-2x fa-linkedin"></i>
					    </div>
					</div>
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" src="static/images/team3.jpg" width="100%" height="350" alt="Blog Image 2"/>
					    <p class="name-member"><a href="https://in.bookmyshow.com/vijayawada/movies/vikram-vedha/ET00319143"><b>Vikram Vedha</b></a></p>
					    <ul class="team-ist">
					     <li><b>Action/Crime/Thriller</b></li>

					     </ul>
					    <div class="team-social">
					    <i class="fa fa-2x fa-tumblr-square"></i>
					    <i class="fa fa-2x fa-facebook"></i>
					    <i class="fa fa-2x fa-twitter"></i>
					    <i class="fa fa-2x fa-linkedin"></i>
					    </div>
					</div>
					<div class="col-md-3 col-sm-6 member">
						<img class="blog-image" src="static/images/team4.jpg" width="100%" height="350" alt="Blog Image 2"/>
						<p class="name-member"><a href="https://in.bookmyshow.com/vijayawada/movies/black-adam/ET00117411"><b>Black Adam</b></a></p>
					    <ul class="team-ist">
					     <li><b>Action/Fantasy/Sci-Fi </b></li>

					     </ul>
					    <div class="team-social">
					    <i class="fa fa-2x fa-tumblr-square"></i>
					    <i class="fa fa-2x fa-facebook"></i>
					    <i class="fa fa-2x fa-twitter"></i>
					    <i class="fa fa-2x fa-linkedin"></i>
					    </div>
					</div>
					</div>


				</section>
				</div></div>




				<!--===============================-->
				<!--== Blog =============-->
				<!--===============================-->
				<div>
			<section id="blog" class="row">
<br>
				<br>
				<div class="title-start col-md-4 col-md-offset-4"><h2>Events</h2>
				<p class="sub-text text-center">Awesome news and articles from us</p>
				</div>
					<div class="top">
					</div>
					<div class="content">

					  <div class="blog col-md-4">
					    <h2 class="blog-head">Marriage</h2>
					    <h3>
					    <a href="#"></a><span class="date-line">Dates available from November 1st</span>
					    </h3>
					    <img class="blog-image" src="static/images/demo/blog2.jpg" width="100%" height="250" alt="Blog Image 2"/>

					    <p class="firstpara"><span class="firstcharacter"></span></p>

<!--					    <button class="button-info read-more">Read More</button>-->

					  </div>

					  <div class="blog col-md-4">
					    <h2 class="blog-head">Musical Concert</h2>
					    <h3>Concert By<a href="#"> Team BTS </a><span class="date-line">  Tickets Available from November30th</span></h3>
					    <img class="blog-image" src="static/images/demo/blog1.jpg"  width="100%" height="250" alt="Blog Image 2"/>
					    <p class="firstpara"><span class="firstcharacter"></span></p>
<!--					    <button class="button-info read-more">Read More</button>-->
					  </div>
					  <div class="blog col-md-4">
					    <h2 class="blog-head">Catering</h2>

					    <h3><a href="#"></a><span class="date-line">All Types of Indian,Chinese,Italian are available</span></h3>
					    <img class="blog-image" src="static/images/demo/blog4.jpg" width="100%" height="250" alt="Blog Image 2"/>
					    <p class="firstpara"><span class="firstcharacter"></span></p>
<!--					    <button class="button-info read-more">Read More</button>-->
					  </div>
					</div>
				</section>


        		<div class="content mcontent">
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
            <div id="social">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="scoialinks">
                                <li class="normal-txt">Find us on</li>
                                <li class="social-icons"><a class="facebook" href="#"></a></li>
                                <li class="social-icons"><a class="twitter" href="#"></a></li>
                                <li class="social-icons"><a class="linkedin" href="#"></a></li>
                                <li class="social-icons"><a class="google-plus" href="#"></a></li>
                                <li class="social-icons"><a class="wordpress" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- social -->
        </section><!-- contact -->


		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">

		$(document).ready(function() {

		  $("#testimonial-container").owlCarousel({

		      navigation : false, // Show next and prev buttons
		      slideSpeed : 700,
		      paginationSpeed : 400,
		      singleItem:true,
		  });

		});
		</script>
	</body>
</html>
{% endblock %}